<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>San Francisco Civic Art</title>
  
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
  
  <!--Main CSS-->
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

  <!--Leaflet style and script-->
  <link rel="stylesheet" href="{{url_for('static', filename='leaflet/dist/leaflet.css')}}" />
  <script type="text/javascript" src="{{url_for('static', filename='leaflet/dist/leaflet.js')}}"></script>

  <!--Google font Lato-->
  <link href='//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>
